@media screen and (max-width: 600px) {
    .logo {
        margin-left: 50px;
    }

    .nav-bar>nav {
        display: none;
    }

    .nav-bar>img {
        display: block;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero-discription {
        margin-left: 50px;
    }

    .nav-bar {
        margin-right: 50px;
    }

    .Hero-bg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tutorial {
        left: 32px;
        top: 1000.38px;
    }

    #free {
        left: 294.2px;
        top: 676.6px;
    }

    .Change-main {
        margin-left: 0px;
        /* border: 2px solid blue; */
        width: 100%;
        height: auto;
    }

    .change-pic {
        grid-template-columns: 1fr;
        margin-top: 58px;
    }

    .change-disc {
        margin-left: 80px;
        width: 450px;
        height: auto;
        /* border: 2px solid red; */
    }
    .change-disc>h1{
        /* font-size: 32px; */
    }
    .circle{
        margin-top: 36px;
    }
    .run-main{
     width: 530px;;
        height: auto;
        margin-left: 20px;
        grid-template-columns: 1fr;

    }
    .run-disc{
        margin-left: 80px;
        width: 366px;
        height: auto;
        /* border: 2px solid red; */
    }
    .run-pic{
        margin-left: 80px;
        /* border: 2px solid blue; */
    }
    .BMI_disc{
        margin-left: 50px;
        width: 353px;
        height: auto;
    }
    .Main-BMI{
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
    }
    .table-part{
        margin-left: 100px;
    }
    .BMI{
        margin-left: 50px;
        width: 454px;
        /* border: 2px soli    d red; */
        height: auto;
    }
    .upper>input{
        width: auto;
    }
    .upper>#S{
        width: auto;
    }
         
}