@media screen and (max-width: 576px) {
    .logo {
        margin-left: 50px;
    }

    .nav-bar>nav {
        display: none;
    }

    .nav-bar>img {
        display: block;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero-discription {
        margin-left: 50px;
    }

    .nav-bar {
        margin-right: 50px;
    }

    .Hero-bg {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #tutorial {
        left: 32px;
        top: 1000.38px;
    }

    #free {
        left: 294.2px;
        top: 676.6px;
    }

    .Change-main {
        margin-left: 0px;
        /* border: 2px solid blue; */
        width: 100%;
        height: auto;
    }

    .change-pic {
        grid-template-columns: 1fr;
        margin-top: 58px;
    }

    .change-disc {
        margin-left: 80px;
        width: 450px;
        height: auto;
        /* border: 2px solid red; */
    }

    .change-disc>h1 {
        /* font-size: 32px; */
    }

    .circle {
        margin-top: 36px;
    }

    .run-main {
        width: 530px;
        ;
        height: auto;
        margin-left: 20px;
        grid-template-columns: 1fr;

    }

    .run-disc {
        margin-left: 80px;
        width: 366px;
        height: auto;
        /* border: 2px solid red; */
    }

    .run-pic {
        margin-left: 80px;
        /* border: 2px solid blue; */
    }

    .BMI_disc {
        margin-left: 50px;
        width: 353px;
        height: auto;
    }

    .Main-BMI {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
    }

    .table-part {
        margin-left: 100px;
    }

    .BMI {
        margin-left: 50px;
        width: 454px;
        /* border: 2px soli    d red; */
        height: auto;
    }

    .upper>input {
        width: auto;
    }

    .upper>#S {
        width: auto;
    }

    .Meet {
        height: auto;
        width: 100%;
        /* border: 2px solid red; */
    }

    .meet-main {
        margin-left: 40px;
        width: 500px;
        height: auto;
    }

    .meet-disc {
        margin-left: 0;
        width: 359px;
        margin-left: 70px;
        /* text-align: center; */

    }

    .meet-pic {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    .meet-pic>div {
        width: 455px;
        /* border: 2px solid blue; */
        height: auto;
        margin: 15px;
    }

    .pic-1,
    .pic-2,
    .pic-3,
    .pic-4,
    .pic-5,
    .pic-6 {
        width: 100%;
    }
    .pic-1>img{
        width: 100%;
    }
    .pic-2>img{
        width: 100%;
    }
    .pic-3>img{
        width: 100%;
    }
    .pic-4>img{
        width: 100%;
    }
    .pic-5>img{
        width: 100%;
    }
    .pic-6>img{
        width: 100%;
        /* background-position: center; */
    }
    .extras1{
        top: 5170px;
    }
    .extras2{
        top: 5470px;
    }
    .extras3{
        top: 5770px;
    }
    .extras4{
        top: 6070px;
    }
    .extras5{
        top: 6370px;
    }
    .extras6{
        top: 6680px;
    }
    .foot-main{
        margin-left: 20px;
        width: 100%;
        height: auto;
    }
    .foot-disc{
        grid-template-columns: 1fr;
        width: 100%;
        /* border: 2px solid red; */
        width: 353px;
    }
    .part-1{
        width: 317px;
        /* border: 2px solid red; */
    }
    .part-2{
        margin-left: 20px;
        width: 317px;
        /* border: 2px solid red; */
    }
    .part-3{
        margin-left: 20px;
        width: 317px;
        /* border: 2px solid red; */
    }
    .foot-main>hr{
        width: 90%;
        width: 504px;
    }
    .foot-last{
        width: 500px;
        /* border: 2px solid red; */
    }

}