/* Font Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
}

/* Default Styles */
* {
    margin: 0;
    padding: 0;

}

/* Header Styles */
body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    background-color: black;
    flex-direction: column;
}

.heading-part {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100rem;
    height: 725px;
    /* border: 2px solid red; */
}

.navigation>nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 50px;
}

.navigation-option {
    width: 465px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.199);
    border-radius: 39px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navigation-option>ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    align-items: center;
    width: 100%;
    /* border: 2px solid red; */
}

.navigation-option>ul>li {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 47px;

}

#home {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin-left: 0;
}

.Hero-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.discription-part {
    width: 520px;
    height: auto;
    /* border: 2px solid red; */
    /* background-color: black; */
    margin-top: -120px;
}

.discription-part>h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    text-align: left;
}

.discription-part>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
}

.btn-hro {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.btn-1 {
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 20px;
    color: white;
}

.btn-2 {
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 42px;
    background: transparent;
    font-size: 20px;
    color: white;
    border: 1px solid rgb(255, 255, 255);
}

.hro {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    margin-right: 100px;

}

.Hero-bg>img {
    /* Images 2 */
    width: 349px;
    height: 580px;




}

.extra1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 206px;
    height: 96px;
    left: 1170px;
    top: 556px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

}

.digit {
    margin-left: 15px;
}

.digit>h5 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    text-align: left;

}

.digit>p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;

}

#empty {
    background: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 42px
}

.extra2 {
    position: absolute;
    width: 193px;
    height: 98px;
    left: 1507px;
    top: 260px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.extra2>h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;


}

.extra2>p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

/* Habit Part */

.Habit {
    display: flex;
    flex-direction: column;
    width: 100rem;
    height: auto;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.discription-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.discription-1>h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

.discription-1>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.picture-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    width: 1044px;
    height: auto;
}

.pic-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-1>img {
    border: none;
    border-radius: 50%;
}

.pic-1>h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
}

.pic-1>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.pic-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-2>img {
    border: none;
    border-radius: 50%;
}

.pic-2>h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
}

.pic-2>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.pic-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-3>img {
    border: none;
    border-radius: 50%;
}

.pic-3>h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
}

.pic-3>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}



.pic-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-4>img {
    border: none;
    border-radius: 50%;
}

.pic-4>h5 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-top: 5px;
}

.pic-4>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.run {
    /* width: 100rem; */
    width: 1044px;
    height: auto;
    display: flex;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: center;
    margin-left: 17%;



}

.run-discription {
    width: 443px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* border: 2px solid red; */
}

.run-discription>h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: left;
}

.run-discription>p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

.run-discription>button {
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    margin-top: 60px;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.run-picture {

    width: 366px;
    height: 312px;
    left: 662px;
    top: 30px;
    border-radius: 18px;
    background: url(../images/run.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip: border-box; */
    /* background-image: inherit; */
    /* margin-left: 50%; */

}