/* Font Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
}

/* overall styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Header Part Styles */
.heading-part {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    margin-top: 57px;
    margin-left: 190px;
}

.logo>h1 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav-bar {
    margin-right: 190px;
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-bar>nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 465px;
    height: 46px;
    /* border: 2px solid red; */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.nav-bar>img {
    display: none;
}

.nav-bar>nav>p {
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

#home {
    color: white;
    border-radius: 46px;
    width: 92px;
    height: 38px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: rgb(230, 83, 60);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
}

.hero-discription {
    width: 520px;
    height: 282px;
    margin-left: 190px;
    margin-top: 98px;
}

.hero-discription>h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;

}

.hero-discription>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
}

.btn-hero {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 28px;
}

.btn-hero>button {
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
}

.btn-hero>button>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

/* Hero BG part */
#picture-hero {
    position: relative;

}

#tutorial {
    border: 2px solid red;
    width: 206px;
    height: 96px;
    position: absolute;
    left: 800px;
    top: 556px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#tutorial>.empty {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 42px;
}

#elements>h6 {
    color: white;

    font-size: 24px;
    font-weight: 900;
}

#elements>p {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

#free {
    position: absolute;
    width: 193px;
    height: 98px;
    left: 1150px;
    top: 260px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#free>h6 {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

#free>p {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

/* Habit Part CSS   */
.Habit {
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.Change-main {
    width: 1044px;
    height: 452px;
    margin-left: 198px;
    display: grid;
    grid-template-columns: 1fr;
}

.change-disc {
    width: 671px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 186.5px;
}

.change-disc>h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;

}

.change-disc>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;

}

.change-pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 58px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle>img {
    /* width: 272px;
height: 180px; */
    border-radius: 50%;
}

.circle>h6 {
    color: white;
    margin-top: 30px;
    text-align: center;

    font-size: 18px;
    font-weight: 600;
}

.circle>p {
    color: #ffffff80;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
}

/* Run Part Styles */
.Run {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.run-main {
    width: 1060px;
    height: 371px;
    border-radius: 18px;

    background: rgb(34, 34, 34);
    margin-left: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.run-disc {
    width: 443px;
    height: 290px;
    /* border: 2px solid rebeccapurple; */
    margin-top: 41px;
    margin-left: 54px;
}

.run-disc>h1 {

    font-size: 48px;
    color: white;
}

.run-disc>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    margin-top: 14px;
}

.run-disc>button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 34px;
}

.run-disc>button>a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.run-pic {
    /* background: url(../images/run.jpg); */
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-right: 32px;
    margin-top: 30px;
    margin-left: 165px;
    /* background-position: center;
 background-position-x: center;
background-position-y: center; */
    /* background-image: ; */
    /* background-repeat: no-repeat; */


}

.run-pic>img {
    width: 366px;
    height: 312px;
    border-radius: 18px;


}

/* BMI calculator part */
.BMI-calc {
    width: 100%;
    height: auto;
    margin-top: 100px;

}

.BMI_disc {
    width: 671px;
    height: 120px;
    margin-left: 384.5px;
    /* border: 2px solid red; */
}

.BMI_disc>h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.BMI_disc>p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}

.Main-BMI {
    width: 100%;
    height: auto;
    background: rgb(34, 34, 34);
    margin-top: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.table-part {
    margin-left: 189px;
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.table-part>h1 {
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-top: 52px;
}

/* Table CSS */
.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #dededf;
    height: 216px;
    width: 310px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #ffffff80;
    /* background-color: #eceff1; */
    color: white;
    padding: 5px;
}

.table_component td {
    border: 1px solid #ffffff80;
    /* background-color: #ffffff; */
    color: #ffffff80;
    padding: 5px;
}

.BMI {
    /* width: 577px; */
    width: auto;
    height: 386px;
    margin-top: 49px;
    margin-left: 175px;
    margin-right: 189px;
    /* border: 2px solid red; */
}

.BMI>h1 {
    font-size: 28px;
    font-weight: 900;
    color: white;
}

.BMI>p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
}

.select-part {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 34px;
}

.upper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.upper>input {
    width: 282.5px;
    height: 48px;
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 10px;
}

.upper>#S {
    width: 289px;
    height: 48px;
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 10px;
    color: rgb(230, 83, 60);
}

.upper>#S>option {
    color: rgb(255, 255, 255);
    /* background: transparent; */
    background-color: black;
}

.lower {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 12px;
}

.lower>#A {

    height: 48px;
    border-radius: 8px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 10px;
    color: rgb(230, 83, 60);
}

.BMI>button {
    margin-top: 34px;
    width: 224px;
    height: 54px;
    border-radius: 42px;

    background: rgb(230, 83, 60);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BMI>button>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Meet part CSS */
.Meet {
    /* display: grid;
    grid-template-columns: 1fr; */
    width: 100%;
    height: auto;
    margin-top: 88px;
}

.meet-main {
    display: grid;
    grid-template-columns: 1fr;
    width: 1060px;
    height: 782px;
    margin-left: 190px;
    /* border: 2px solid red; */

}

.meet-disc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 194.5px;
    width: 671px;
    height: 120px;
    /* border: 2px solid blue; */
}

.meet-disc>h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.meet-disc>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.meet-pic {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.meet-pic>div {
    width: 326.67px;
    height: 272px;
    margin-left: 12px;
    margin-top: 15px;
}

.pic-1,
.pic-2,
.pic-3,
.pic-4,
.pic-5,
.pic-6 {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    position: relative;

}

.pic-1>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;

}

.pic-2>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;

}

.pic-3>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;

}

.pic-4>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;

}

.pic-5>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;

}

.pic-6>img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;


}
.extras1{
    position: absolute;
    top: 2940px;
    
}
.extras1>h1{
    color: white;
    
}
.extras1>p{
    color:#dededf;
}
/* 2 */
.extras2{
    position: absolute;
    top: 2940px;
    
}
.extras2>h1{
    color: white;
    
}
.extras2>p{
    color:#dededf;
}
/* 3 */
.extras3{
    position: absolute;
    top: 2940px;
    
}
.extras3>h1{
    color: white;
    
}
.extras3>p{
    color:#dededf;
}
/* 4 */
.extras4{
    position: absolute;
    top: 3250px;
    
}
.extras4>h1{
    color: white;
    
}
.extras4>p{
    color:#dededf;
}
/*  */
.extras5{
    position: absolute;
    top: 3250px;
    
}
.extras5>h1{
    color: white;
    
}
.extras5>p{
    color:#dededf;
}
.extras6{
    position: absolute;
    top: 3250px;
    
}
.extras6>h1{
    color: white;
    
}
.extras6>p{
    color:#dededf;
}
/* Foot part styles */

.foot{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 88px;

}
.foot-main{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 190px;
    width: 1059px;
}
.foot-disc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.part-1{
    width: 443px;
height: 176px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-top: 66px
}
.part-1>h2{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
font-weight: 800;
}
.part-1>p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin-top: 20px;
}
.part-2{
    width: 181px;
height: 249px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-top: 66px;
margin-left: 102px;

}
.up>h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;

}
.down>ul{
    list-style-type: none;
    margin-top: 39px;
}
.down>ul>li{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 22px;
font-weight: 400;
margin-top: 5px;
}
.part-3{
    width: 181px;
height: 249px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;
margin-top: 66px;
margin-left: 102px;
}
.foot-main>hr{
    border: 2px solid rgb(230, 83, 60);
}
.foot-last{
    /* border: 2px solid re       d; */
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(230, 83, 60) ;
}